/* Imports */
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Merienda:700');

/* base styles */
* {
    box-sizing: border-box;
  }
  
  
 body {
    background: #ffffff;
    color: #777777;
    background-color: #000000;
}

h1, h2, h3, .navbar-brand {
    font: bold 26px 'Merienda', cursive;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

.col h1,
.col h2,
.col h3 {
    text-align: center;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.content {
    margin-bottom: 50px;
    padding: 50px 0;
    font: bold 16px 'Crimson Text', serif;
}

/* portfolio page */
.card.projects {
    margin-bottom: 10px;
}

.portfolio-item {
    color: #ffffff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 5px;

}

.portfolio-item-info {
    text-align: center;
    padding: 5px; 
    padding-bottom: 10px;
    border-radius: 3px;
}

.portfolio-item-info .icon-wrapper{
    font-size: 10em;
}

.portfolio-item-info h5 {
    font: bold 14px 'Merienda', cursive;
    /* margin: 5px; */
    padding: 0;
}

.portfolio-item-info p {
    padding: 0;
    margin-bottom: 8px;
}

.portfolio-item a,
.portfolio-item a:visited {
    color: #ffffff;
    text-decoration: underline;
    margin: 5px;
}

.portfolio-item a:first-of-type {
    text-decoration: none;
}


.portfolio-item a:hover {
    color: lightslategrey;
}

